body {
        background-color:#f2e6ff;
}

h1 {
    font-size: 50px;
    font-family: 'Arial';
    text-decoration: underline;
    font-weight: bolder;
    color: #4d4dff;
    text-align: center;
}

h2 {
    font-size: 30px;
    font-family: 'Arial';
    color: #4d4dff;
    text-align: center;
}

div {
    text-align: center;
}

p {
    font-size: 20px;
    text-align: center;
    color: lightskyblue;
    font-family: 'Arial';
}

ul {
    text-align: left;
    color: lightskyblue;
    font-family: 'Arial';
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: mediumpurple;
    overflow: hidden;
    font-family: 'Arial';
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Arial';
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: purple;
    color: white;
    font-family: 'Arial';
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: purple;
    color: white;
    font-family: 'Arial';
  }

  /* Place the navbar at the bottom of the page, and make it stick */
.navbar {
    background-color: mediumpurple;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-family: 'Arial';
  }
  
  /* Style the links inside the navigation bar */
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Arial';
  }
  
  /* Change the color of links on hover */
  .navbar a:hover {
    background-color: purple;
    color: white;
    font-family: 'Arial';
  }
  
  /* Add a color to the active/current link */
  .navbar a.active {
    background-color: #4CAF50;
    color: white;
    font-family: 'Arial';
  }